* {
  margin: 0;
  padding: 0;
}

body {
position: relative;
}

.background {
  height: 100vh;
}

.container {
  margin-top: 2rem;
  margin-bottom: 800px;
}

header > p {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: -0.4rem;
}

.container-contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-top: 5rem;
  height: 30vh;
  margin-left: 2rem;
}

.contacts-images {
  transition: transform 0.3s;
}

.contacts-images:hover {
  transform: translateY(-10px);
}

.contacts-images path:hover {
  fill: #fff;
}


h3 {
  margin-top: 1rem;
  font-weight: 700;
  color: white;
  text-align: start;
}

h4 {
  font-size: 16px;
  font-weight: 100;
  color: white;
  text-align: start;
}

.title {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',  'Helvetica Neue', sans-serif;
}

.paragraph {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',  'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 18px;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.3s;
  user-select: none;
}

.logo:hover {
  opacity: 0.7;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',  'Helvetica Neue', sans-serif;
  background: #917FB3;
  height: 6vh;
}

.nav-list {
  user-select: none;
  list-style: none;
  display: flex;
}

.nav-list a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',  'Helvetica Neue', sans-serif;
  margin-left: 30px;
  margin-top: 12px;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #c1c1c1;
}

hr {
  color: white;
}

li {
  margin-top: 0.8rem;
  margin-left: 10px;
}

.footer p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',  'Helvetica Neue', sans-serif;
  margin-top: 2rem;
}

.title-footer {
  text-align: center;
  margin-left: 20px;
  font-size: 18px;
}

.footer {
  position: fixed;
  color: #fff;
  font-weight: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  user-select: none;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
opacity: 0;
}

.mobile-menu.active .line3 {
transform: rotate(45deg) translate(-5px, -7px);
}

.gradient-background {
background: linear-gradient(300deg, #2D4356, #917FB3, #5a4b68);
background-size: 180% 180%;
animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}